!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    script(src="https://raw.github.com/corbanbrook/webgl-2d/master/webgl-2d.js")
    title Welcome
  body
    canvas#canvas
    div#fps
    div#TEST
