// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%
  margin 0
  padding 0

#canvas
  background-color black
#fps
  color white
  position absolute
  left 0
  top 0
#TEST
  position absolute
  right 0
  top 0