// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%
  margin 0
  padding 0


#fps
  position absolute
  left 0
  top 0